@mixin section-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 6rem 0;
    // justify-content: center;
}

@mixin line-start {
    div.line-start {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        hr {
            width: 50px;
            border: 1.5px solid;
        }
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h3, h4 {
    text-transform: uppercase;
    font-weight: 700;
}

header {
    align-items: center;
    background-color: #2c3e50;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    height: 70px;
    justify-content: space-around;
    padding: 1rem;
    position: sticky;
    top: 0;

    nav ul {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        justify-content: space-between;
        text-transform: uppercase;
        width: 250px;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }
}

section.home {
    background-color: #18bc9c;
    color: #FFFFFF;

    @include section-container;
    @include line-start;

    img {
        width: 200px;
        padding-top: 1rem;
    }

    h1 {
        font-size: 50px;
    }

    h6 {
        font-size: 16px;
        padding-top: .5rem
    }
}

#portfolio {

    @include section-container;
    @include line-start;

    h3 {
        font-size: 32px;
    }

    picture {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 2fr);
        margin: .5rem 0;

        img {
            width: 250px;
        }
    }
}

#about {
    background-color: #18bc9c;
    color: #FFFFFF;

    @include section-container;
    @include line-start;

    h3 {
        font-size: 32px;
    }

    div.text {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 25px;
        margin: .5rem 0;

        p {
            font-size: 14px;
            font-family: 'Lato', sans-serif;

            &:first-child {
                grid-column: 2 / 3;
            }
        }
    }

    button {
        background-color: #18bc9c;
        border: 1.5px solid #FFFFFF;
        border-radius: 3px;
        color: #FFFFFF;
        cursor: pointer;
        font-weight: 600;
        padding: .5rem 1rem;
        margin-top: 1rem;
    }
}

#contact {

    @include section-container;
    @include line-start;

    h3 {
        font-size: 32px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;

        fieldset {
            border: none;
            color: #8a8a8a;
            display: flex;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            flex-direction: column;
            gap: 10px;
            width: 600px;

            input, textarea {
                border: none;
                border-bottom: 1.5px solid #c9c8c8;

                &:focus-visible {
                    outline: none;
                }
            }
        }

        button {
            background-color: #18bc9c;
            border: none;
            border-radius: 5px;
            color: #FFFFFF;
            cursor: pointer;
            font-weight: 700;
            padding: .5rem .7rem;
        }
    }
}

footer {
    background-color: #2c3e50;
    color: #FFFFFF;
    padding: 2rem 0 1rem;

    section {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding-bottom: 4.5rem;

        article {
            display: grid;
            justify-items: center;
            grid-column: 5 / 9;
            
            &:first-child {
                grid-column: 3 / 5;
            }

            &:last-child {
                grid-column: 9 / 11;
            }

            ul {
                display: flex;
                gap: 5px;

                li {
                    list-style: none;
                    border: 2px solid #FFFFFF;
                    border-radius: 50%;
                    padding: .4rem .6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:first-child {
                        padding: .5rem .8rem;
                    }

                    a {

                        i {
                            color: #FFFFFF;
                        }
                    }
                }
            }

            h4 {
                font-size: 20px;
                padding-bottom: 1.2rem;
            }

            p {
                span {
                    color: #18bc9c;
                }
            }
        }
    }

    p {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-align: center;

    }
}